--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
numpy
absl_py
cloudpickle
fairscale
json_repair
latex2sympy2
math-verify
peft
pydantic
sentence_transformers
sentencepiece
setproctitle
tensorboard
tensorboardX
xformers
word2number